/*--
/*  05 - About CSS
/*----------------------------------------*/

.about-section{
    & .about-thumb-wrap {
        margin-right: -165px;
        text-align: center;

        & img{
            margin-bottom: 35px;

            &:last-child{
                margin-right: 95px;

                @media #{$desktop-device}{
                    margin-right: 170px;
                }
                @media #{$tablet-device}{
                    margin: 0;
                }
            }
        }

        @media #{$tablet-device}{
            margin: 0;
            margin-top: 80px;
        }
    }

    & .about-content-wrap{
        padding: 120px 60px;
        border: 10px solid $primary-2;
        position: relative;
        margin-top: 40px;
        background-color: $white;
        z-index: 0;

        & .about-box-shape{
            position: absolute;
            bottom: -53px;
            right: -53px;
            width: 100%;
            z-index: -1;
            @media #{$desktop-device}{
                bottom: -46px;
                right: -46px;
            }
            @media #{$tablet-device}{
                bottom: -55px;
                right: -55px;
            }
            @media #{$large-mobile}{
                bottom: -45px;
                right: -45px;
            } 
            @media #{$small-mobile}{
                display: none;
            }
        }
        & .about-shape-x{
            position: absolute;
            top: 40px;
            right: 60px;
            animation: round-01 3s linear infinite;
        }

        .section-paragraph{
            padding-right: 100px;
            margin-bottom: 40px;

            @media #{$desktop-device}{
                padding: 0;
            }
        }

        @media #{$large-mobile}{
            padding: 90px 40px;
        }
        @media #{$small-mobile}{
            padding: 60px 20px;
        }
    }

}


// Homepage 2 About

.about-area-2{
    & .thumnail-wrap{
        position: relative;
        & .about-shape-1{
            position: absolute;
            top: -10px;
            right: -50px;
            @media #{$desktop-device}{
                right: -180px;
            }
            @media #{$tablet-device}{
                right: 80px;
            }
            @media #{$large-mobile}{
                left: 0;
                z-index: -1;
            }
        }
        & .about-shape-2{
            max-width: none;
            position: absolute;
            top: 60px;
            left: 45px;
            z-index: -1;
            @media #{$large-mobile}{
                display: none;
            }
        }
        & .about-thumbnails{
            position: relative;
            margin-right: 150px;
            @media #{$large-mobile}{
                margin-right: 0;
            }
            .main-img{
                text-align: left;
                @media #{$large-mobile}{
                    text-align: center;
                }
                & .about-img-1{
                    @media #{$large-mobile}{
                        margin-bottom: 30px;
                    }
                }
                & .about-img-2{
                    position: absolute;
                    z-index: -1;
                    top: 115px;
                    left: 200px;
                    @media #{$large-mobile}{
                        position: relative;
                        left: auto;
                        top: auto;
                    }
                }
            }
        }
    }
    & .about-content{
        margin-bottom: 40px;
        padding-left: 100px;
        @media #{$medium-device}{
            padding: 0;
        }
        @media #{$tablet-device}{
            margin-top: 230px;
            padding-left: 0;
        }
        @media #{$large-mobile}{
            margin-top: 40px;
        }
        & .about-title{
            & .title-numb{
                font-size: 120px;
                font-family: $heading-font;
                line-height: 1;
                font-weight: 700;
                color: $primary-orange;
            }
            .section-title{
                margin-bottom: 40px;
            }
            .section-paragraph{
                font-size: 16px;
                padding-right: 25px;
                @media #{$extra-small-mobile}{
                    padding: 0;
                }
            }
        }
    }
    & .abot-event{
        padding-left: 100px;
        @media #{$medium-device}{
            padding: 0;
        }
        @media #{$tablet-device}{
            padding-left: 0;
        }
        & img{
            margin-bottom: 20px;
        }
        & h5{
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
}

// Homepage 4 About

.about-area-4{
    & .about-thumbnail{
        position: relative;
        & .about-thumb-1{
            position: relative;
            left: 240px;
            top: 120px;
        }
        & .thumbnail-shape{
            position: absolute;
            top: 195px;
            left: 80px;
        }
    }

    & .about-title{
        margin-top: 50px;
        padding: 0 80px;
        padding-right: 0;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            width: 5px;
            height: 290px;
            background-color: $primary-orange;
            left: 0;
            top: 20px;
        }

        & .section-title{
            padding-right: 80px;
            & .title{
                font-size: 65px;
                line-height: 80px;
            }
        }
    }
    
    & .about-content{
        padding-left: 80px;
        padding-right: 50px;

        & .section-paragraph{
            margin-bottom: 20px;
        }
        & .about-event{
            display: flex;
            margin-top: 30px;
            margin-right: 30px;
            text-align: left;

            & .thumb{
                margin-right: 30px;
                transition: all 400ms ease;
            }

            &:hover{
                & .thumb{
                    transform: scale(-1) rotate(180deg);
                }
            }
        }
    }

    // About 4 Responsive
    @media #{$medium-device}{
        & .about-thumbnail{
            padding: 0 20px;
            padding-left: 0;
        }
    }
    @media #{$desktop-device}{
        & .about-title{
            &::before{
                left: 45px;
            }
            & .section-title{
                & .title{
                    font-size: 52px;
                    line-height: 70px;
                }
            }
        }
    }
    
    @media #{$tablet-device}{
        & .about-thumbnail{
            padding: 0 100px;
            padding-left: 80px;
           
            & .thumbnail-shape{
                top: 195px;
                left: 150px;
            }
        }

        & .about-title{
            &::before{
                left: 0;
            }
        }
    }

    @media #{$large-mobile}{
        & .about-thumbnail{
            padding: 0;
            padding-left: 0px;
            & .about-thumb-1{
                position: relative;
                left: 150px;
                top: 120px;
            }
            & .thumbnail-shape{
                top: 195px;
                left: 80px;
            }
        }

        & .about-title{
            &::before{
                left: 0;
            }
        }
    }

    @media #{$small-mobile}{
        & .about-thumbnail{
            text-align: center;
            & .about-thumb-1{
                position: relative;
                left: 80px;
                top: 120px;
            }
            & .thumbnail-shape{
                top: 195px;
                left: 30px;
            }
        }

        & .about-title{
            & .section-title{
                padding-right: 0px;
                & .title{
                    font-size: 42px;
                    line-height: 48px;
                }
            }
            &::before{
                left: 50px;
            }
        }
    }

    @media #{$extra-small-mobile}{
        & .about-thumbnail{
            text-align: center;
            & .about-thumb-1{
                position: relative;
                left: 0px;
                top: 120px;
            }
            & .thumbnail-shape{
                display: none;
            }
        }

        & .about-title{
            padding-left: 0;
            text-align: center;
            &::before{
                display: none;
            }
        }

        & .about-content{
            text-align: center;
            padding-right: 0;
            padding-left: 0;
        }
    }
    
}

// About Page

.about-page{
    & .section-title{
        margin-bottom: 120px;
    }

    & .about-right-content{
        & .section-paragraph{
            margin-bottom: 30px;
        }
    }

    & .about-content-wrap{
        padding-top: 100px;
        padding-bottom: 40px;
        margin-left: -145px;
        margin-top: 90px;
        border-color: $primary;
        & .section-title{
            margin-bottom: 50px;
        }
        & .about-item{
            display: flex;
            padding-right: 100px;
            margin-bottom: 30px;

            & .icon{
                height: 100%;
                transition: all 400ms ease;
            }

            &:hover{
                & .icon{
                    transform: scale(-1) rotate(180deg);
                }
            }

            & .about-item-content{
                margin-left: 30px;
                & .item-heading{
                    font-size: 22px;
                    margin-bottom: 10px;
                }
                & .item-description{
                    font-size: 16px;
                }
            }
        }
    }

    // Responsive 
    @media #{$desktop-device}{
        .about-content-wrap{
            padding-right: 35px;
            padding-left: 35px;

            & .about-item{
                padding-right: 80px;
            }
        }
    }

    @media #{$tablet-device}{
        & .section-title{
            margin-bottom: 20px;
        }
        & .about-content-wrap{
            margin-left: 0;
        }
    }
    @media #{$large-mobile}{
        & .about-content-wrap{
            & .about-item{
                padding-right: 0;
            }
        }
    }

    @media #{$extra-small-mobile}{
        & .about-content-wrap{

            & .section-title{
                text-align: center;
            }
            & .about-item{
                display: block;
                text-align: center;
                margin-bottom: 40px;

                & .icon{
                    margin-bottom: 20px;
                }

                & .about-item-content{
                    margin-left: 0;
                }
            }
        }
    }
}