/*--
/*  2.1 - Header Top CSS
/*----------------------------------------*/

// Solid Header for Homapage 1
.exvent-header-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    top: 30px;
    &.sticky{
        box-shadow: none;
        & .header-wrap{
            box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);
        }
    }

    @media #{$tablet-device} {
        padding: 0;
    }
}
// Transparent Header for Homepage 2
.exvent-header-2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    &.top-gap{
        top: 30px;
    }
    &.sticky{
        box-shadow: none;
        top: 0;
        & .header-wrap{
            background-color: $purple-dark;
            box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);
        }

        & .header-menu{
            & .main-menu{
                & li{
                    & a{
                        color: $white;
                    }
                    & .menu-icon{
                        &::after{
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    @media #{$tablet-device} {
        padding: 0;
    }

    & .header-wrap {
        background: none;
    }

    & .header-menu {
        & .main-menu {
            & li {
                & a {
                    color: $white;
                }
                &.active-menu {
                    & > a {
                        color: $primary-orange;
                    }
                    & > .menu-icon {
                        &::after {
                            color: $primary-orange;
                        }
                    }
                }
                & .menu-icon {
                        
                    &::after{
                        color: $white;
                    }
                }
                &:hover {
                    & > .menu-icon {
                        &::after {
                            color: $primary-orange;
                        }
                    }
                    & > a {
                        color: $primary-orange;
                    }
                }
                & .sub-menu {
                    border-top: 3px solid $primary-orange;    
                    & li {    
                        & a {
                            color: $black;
                            &::before {
                                background: $primary-orange;
                            }
                        }
                        &.active {
                            & > a {
                                color: $primary-orange;    
                            }
                        }
                        &:hover {
                            & > a {
                                color: $primary-orange;
                            }
                        }
                    }
                }
            }
        }
    }

    // Header Search-2
    .header-search {
        position: relative;
        & .search-btn {
            color: $white;
            &:hover {
                color: $primary-orange;
            }
        }
    }

    // Header Search Wrap-2
    .search-wrap {
        & .search-inner {
            & .search-close {
                &:hover {
                    color: $primary;
                }
            }
        }
    }

    // Header Cart-2
    .header-cart {
        margin-left: 10px;
        
        & .cart-btn {
            color: $white;
            &:hover {
                color: $primary-orange;
            }
            & .count {
                background: $primary-orange;
                &.purple{
                    background: $purple;
                }
            }
        }
    }

    // Header Toggle
.header-toggle {
    & button {
        & span {
            background: $primary-orange
        }
    }
}
}

// Transparent Header for Homepage 4
.exvent-header-2{
    &.exvent-header-4{
        & .header-menu {
            & .main-menu {
                & li {
                    & a {
                        color: $white;
                    }
                    &.active-menu {
                        & > a {
                            color: $purple;
                        }
                        & > .menu-icon {
                            &::after {
                                color: $purple;
                            }
                        }
                    }
                    & .menu-icon {
                            
                        &::after{
                            color: $white;
                        }
                    }
                    &:hover {
                        & > .menu-icon {
                            &::after {
                                color: $purple;
                            }
                        }
                        & > a {
                            color: $purple;
                        }
                    }
                    & .sub-menu {
                        border-top: 3px solid $purple;    
                        & li {    
                            & a {
                                color: $black;
                                &::before {
                                    background: $primary-orange;
                                }
                            }
                            &.active {
                                & > a {
                                    color: $primary-orange    
                                }
                            }
                            &:hover {
                                & > a {
                                    color: $primary-orange
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.sticky{
        & .header-menu {
            & .main-menu {
                & li {
                    & a {
                        color: $white;
                    }
                    &.active-menu {
                        & > a {
                            color: $primary-orange
                        }
                        & > .menu-icon {
                            &::after {
                                color: $primary-orange
                            }
                        }
                    }
                    & .menu-icon {
                            
                        &::after{
                            color: $white;
                        }
                    }
                    &:hover {
                        & > .menu-icon {
                            &::after {
                                color: $primary-orange
                            }
                        }
                        & > a {
                            color: $primary-orange
                        }
                    }
                    & .sub-menu {
                        border-top: 3px solid $purple;    
                        & li {    
                            & a {
                                color: $black;
                                &::before {
                                    background: $primary-orange;
                                }
                            }
                            &.active {
                                & > a {
                                    color: $primary-orange    
                                }
                            }
                            &:hover {
                                & > a {
                                    color: $primary-orange;
                                }
                            }
                        }
                    }
                }
            }
        }

        & .header-meta{
            & .header-btn{
               & a.btn{
                background-color: $primary-orange;
                &:hover{
                    background-color: $primary;
                }
               }
            }

            & .header-cart{
                & .cart-btn{
                    & .count{
                        background-color: $primary-orange;
                    }
                }
            }
        }
    }
}

// Header BG Color classes 
.header-purple{
    & .header-wrap{
        background-color: $purple-dark;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);
    }
}

// Header Wrap
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #ffffff;
    padding: 0 20px;
    z-index: 5;

    @media #{$tablet-device} {
        padding: 10px 20px;
    }
}



// Header Menu 
.header-menu {

    & .main-menu {
        display: flex;
        & li {
            position: relative;
            padding: 30px 15px;
            @media #{$desktop-device} {
                padding: 30px 20px;
            }
            & a {
                font-size: 15px;
                font-family: $heading-font;
                font-weight: 700;
                text-transform: capitalize;
                color: $heading-color;
            }

            &.active-menu {

                & > a {
                    color: $primary;
                }

                & > .menu-icon {
                    &::after {
                        color: $primary;
                    }
                }
            }

            & .menu-icon {
                    
                &::after{
                    content: '\f16c';
                    font-family: "flaticon";
                    font-size: 10px;
                    color: #94a0b9;
                    margin-left: 5px;
                    transition: $transition-default;
                }
            }

            &:hover {
                & > .menu-icon {
                    &::after {
                        color: $primary;
                    }
                }
                & > a {
                    color: $primary;
                }

                & > .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    top: 100%;
                }
            }

            & .sub-menu {
                position: absolute;
                left: 0;
                top: 110%;
                width: 270px;
                background: $white;
                box-shadow: 0 2px 29px rgba(0, 0, 0, .05);
                padding: 20px 0;
                border-radius: 5px;
                border-top: 3px solid $primary;
                opacity: 0;
                z-index: 99;
                visibility: hidden;
                transition: $transition-default;

                & li {
                    padding: 0;

                    & a {
                        padding: 5px 25px;
                        font-size: 15px;
                        font-family: $heading-font;
                        font-weight: 600;
                        text-transform: capitalize;
                        display: block;
                        position: relative;
                        z-index: 1;

                        &::before {
                            content: '\f16e';
                            font-family: "flaticon";
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            font-size: 8px;
                            opacity: 0;
                            visibility: hidden;
                            transition: $transition-default;
                        }
                    }

                    &.active {
                        & > a {
                            color: $primary;
                            padding-left: 40px;

                            &::before {
                                opacity: 1;
                                visibility: visible;
                                left: 25px;
                            }
                        }
                    }

                    &:hover {

                        & > a {
                            color: $primary;
                            padding-left: 40px;
                            &::before {
                                opacity: 1;
                                visibility: visible;
                                left: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Header Meta
.header-meta {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

 
// Header Search
.header-search {
    position: relative;

    
    & .search-btn {
        font-size: 16px;
        border-radius: 50%;
        text-align: center;
        color: rgb(51, 51, 51);
        transition: $transition-default;

        &:hover {
            color: $primary;
        }
    }
}

// Header Search Wrap
.search-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 121;
    background: rgba(0, 0, 0, 0.9);

    & .search-inner {
        position: relative;
        width: 100%;
        height: 100%;

        & .search-close {
            position: absolute;
            top: 50px;
            right: 50px;
            font-size: 22px;
            color: $white;
            cursor: pointer;
            transition: $transition-default;

            &:hover {
                transform: rotate(90deg);
                color: $primary;
            }
        }

        & .search-cell {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);

            & .search-field-holder {
                width: 50%;
                margin: auto;
                position: relative;
                @media #{$tablet-device} {
                    width: 60%;
                }
                @media #{$small-mobile} {
                    width: 80%;
                }

                & .main-search-input {
                    width: 100%;
                    height: 70px;
                    border: 0;
                    padding: 0 50px;
                    text-transform: uppercase;
                    background: transparent;
                    font-size: 25px;
                    font-weight: 400;
                    color: $white;
                    border-bottom: 2px solid #898989;
                    text-align: center;
                    letter-spacing: 2px;
                    @media #{$desktop-device} {
                        padding: 0 35px;
                        font-size: 20px;
                    }
                    @media #{$large-mobile} {
                        font-size: 16px;
                        padding: 0 15px;
                    }

                    @include placeholder{
                        opacity: 0.95;
                        font-size: 25px;
                        color: $white;
                        font-weight: 400;
                        @media #{$desktop-device} {
                            font-size: 20px;
                        }
                        @media #{$large-mobile} {
                            font-size: 16px;
                        }
                        @media #{$small-mobile} {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

// Header Cart
.header-cart {
    margin-left: 10px;
    
    & .cart-btn {
        font-size: 16px;
        border-radius: 50%;
        text-align: center;
        background: none;
        color: rgb(51, 51, 51);
        border: 0;
        position: relative;
        transition: $transition-default;

        &:hover {
            color: $primary;
        }

        & .count {
            width: 18px;
            height: 18px;
            line-height: 18px;
            text-align: center;
            background: $primary;
            border-radius: 50%;
            font-size: 10px;
            font-weight: 400;
            display: inline-block;
            color: $white;
            position: absolute;
            top: -4px;
            right: -12px;
        }
    }
}
  
// Dropdown Cart
.dropdown-cart {
    max-width: 370px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 11px 10px 38px 0 rgba(46, 63, 99, 0.15);
    border: 0;
    transform: translateX(-50%) !important;
    left: 50% !important;
    top: 57px !important;
    @media #{$laptop-device} {
        left: 0 !important;
        transform: translateX(-85%) !important;
    }
    @media #{$tablet-device} {
        top: 56px !important;
    }
    @media #{$extra-small-mobile} {
        left: 0 !important;
        transform: translateX(-72%) !important;
    }

    & .cart-items {
        height: 280px;
        overflow-y: auto;

        & .single-cart-item {
            display: flex;
            align-items: center;
            position: relative;

            & + .single-cart-item {
                margin-top: 30px;
            }

            & .item-image {

                & img {
                    border-radius: 50%;
                }
            }

            & .item-content {
                flex: 1;
                padding-right: 25px;
                padding-left: 20px;

                & .title {
                    font-size: 16px;
                    font-weight: 700;
                    color: $black;
                    line-height: 1.3;
                }

                & .quantity {
                    font-size: 14px;
                    color: $primary;
                    line-height: 1.75;
                    display: block;
                }
            }

            & .btn-close {
                position: absolute;
                width: 5px;
                height: 5px;
                top: 0;
                right: 5px;
            }
        }
    }

    & .cart-total {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;

        & .label {
            font-size: 18px;
            font-weight: 700;
            line-height: 1.75;
            display: block;
            color: $black;
        }

        & .value {
            font-size: 18px;
            font-weight: 700;
            line-height: 1.75;
            display: block;
            color: $primary;
        }
    }

    & .cart-btns {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        & .btn {
            height: 50px;
            line-height: 46px;
            font-size: 16px;
            padding: 0 35px;
            width: 48%;

            &.btn-2 {
                background: $secondary;
                border: 2px solid transparent;
                transition: $transition-default;

                &:hover {
                    color: $secondary;
                }
            }
        }
    }
}

.header-btn {
    margin-left: 25px;
}
// Header Toggle
.header-toggle {
    margin-left: 30px;
    & button {
        background: none;
        border: 0;
        padding: 0;
        & span {
            width: 25px;
            height: 2px;
            background: $primary;
            margin: 5px 0;
            display: block;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.header-top-wrapper  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    & .header-top-info  {

        & ul {

            & li {
                display: inline-block;
                font-size: 14px;
                line-height: 18px;
                color: $white;
                position: relative;

                & i {
                    font-size: 20px;
                    color: $primary-3;
                    position: relative;
                    top: 1px;
                    margin-right: 7px;
                }

                & + li {
                    padding-left: 30px;
                    margin-left: 25px;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        background: #353542;
                        width: 1px;
                        height: 45px;
                        transform: translateY(-46%);
                    }
                }
            }
        }
    }
    & .header-social {
        display: flex;
        align-items: center;

        & span {
            font-size: 14px;
            color: $primary-3;
            display: inline-block;
            margin-right: 20px;
        }
        & ul {

            & li {
                display: inline-block;
                
                & + li {
                    margin-left: 10px;
                }

                & a {
                    display: inline-block;
                    font-size: 14px;
                    color: #8c8c8c;

                    &:hover {
                        color: $primary-3;
                    }
                }
            }
        }
    }
}



// Sticky Header
.sticky{
    position: fixed;
    top: 0;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.07);
    animation: sticky 1s;
}


@keyframes sticky {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

